# Use the following env variables to configure email sending with Postmark locally

# POSTMARK_API_KEY=<postmark-api-key>
# EMAIL_BACKEND=postmarker.django.EmailBackend

# SENTRY_API_DSN="https://this_is_the_url_provided_by_sentry_for_shipping_logs.ingest.us.sentry.io/some_sort_of_key"
