.btn-lex {
    background-color: #0057A8;
    color: #fff;
}

.form-header {
    background-color: #001A49;
    color: white;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-bottom: 3em;
}

.login-link-row {
    margin-top: 5em;
    margin-bottom: 10em;
    Link {
        text-align: center;
        font-size: 14px;
    }
}