.btn-lex {
    background-color: #0057A8;
    color: #fff;
    margin-top: 2.5em;
}

.left-list {
    border-right: 1px #BFBFBF solid;
    .row {
        padding: 1em;
        a {
            font-size: 1.5em;
            font-weight: normal;
            color: #585858;
        }
        .fa-chevron-right {
            margin-top: 0.5em;
            font-weight: lighter;
            font-size: 0.6em;
        }
    }
}

.form-header {
    background-color: #001A49;
    color: white;
    font-weight: lighter;
    padding: 10px 0;
    margin-bottom: 3em;
}

.form-subheading {
    background-color: #001A49;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    h3 {
        margin: 8px 0px 8px 8px;
    }
}

.form-group {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    label {
        color: #585858;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0.3em 0em;
    }
    .form-control {
        color: black;
        font-weight: normal;
        margin-bottom: 0.5em;
    }
}
