.container {
    width: 95%;
}

.inside-body {
    background-color: #f1f0f0;
    color: #585858;
    padding: 2em 0em 4em 0em;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: lighter;
    margin-bottom: 3em;
}

.in-page-link {
    color: #0057A8;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
