version: 2
jobs:
  # build:
  #   machine:
  #     ruby: 2.4.1
  #   steps:
  #     - run: python manage.py test
  deploy-dev:
    docker:
      - image: circleci/ruby:2.4.4
    steps:
      - checkout
      - run: gem install faraday -v 1.10.0
      - run: gem install semverse -v 3.0.0
      - run: gem install public_suffix -v 4.0.7
      - run: gem install dream-ops -v 0.4.2
      - run: dream deploy opsworks -T d93434c3-4ace-4970-ac0a-6f87c0d9e125
  deploy-prod:
    docker:
      - image: circleci/ruby:2.4.4
    steps:
      - checkout
      - run: gem install faraday -v 1.10.0
      - run: gem install semverse -v 3.0.0
      - run: gem install public_suffix -v 4.0.7
      - run: gem install dream-ops -v 0.4.2
      - run: dream deploy opsworks -T 4c6e1652-6e5c-4d8c-ba27-33b9abf7c6c3


workflows:
  version: 2
  build-deploy:
    jobs:
      - deploy-dev:
          filters:
            branches:
              only: dev
      - deploy-prod:
          filters:
            branches:
              only: master
