{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}

            LFUCG Exactions
        {% endblock title %}
    </title>
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
    {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
    {% endblock styles %}

    {% block head_scripts %}
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- <script type="text/javascript">
            window.CSRFToken = '{{ csrf_token|escapejs }}'
        </script> -->

        <!-- jquery for site -->
        <script>{% include "_layouts/site_base.js" %}</script>
    {% endblock head_scripts %}
</head>
<body>
    {% block dashboard %}  
    {% endblock dashboard %}

    {% block body_scripts %}
      
    {% endblock body_scripts %}
</body>
</html>