{% load staticfiles %}
<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img src="baseURL/images/lexington-logo.svg" role="presentation" />
            </div>
        </div>
    </div>
    <div class="row">
        <img src="baseURL/images/lexington-hero-interior.jpg" role="presentation" />
    </div> 
    <div class="container">
        <p>To initiate the password reset process for your Exactions account, click the link below:</p>
        <a href="{{baseURL}}#/reset/{{uid}}/{{token}}/"> RESET YOUR PASSWORD </a>
        <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
    </div>
</body>