.btn-lex {
    background-color: #0057A8;
    color: #fff;
    margin-top: 2.5em;
}

.btn-lex-danger {
    color: #fff;
    margin-top: 2.5em;
}

.btn-modal {
    background-color: #0057A8;
    color: #fff;
    margin-top: 0;
}

.form-header {
    background-color: #001A49;
    color: white;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-bottom: 3em;
}

.modal.in {
    display: block;
}

.login-link-row {
    margin-top: 5em;
    margin-bottom: 10em;
    Link {
        text-align: center;
        font-size: 14px;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.panel-group {
    .section-heading {
        text-align: center;
        color: white;
        background-color: #001A49;
        border: 2px solid #585858;
        border-radius: 3px;
        margin-top: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        h3 {
            margin: 8px 0px 8px 8px;
        }
    }
    [aria-expanded="false"] {
        .caret-indicator:before {
            font-family: FontAwesome;
            content: "\f0da";
            font-size: 2.2em;
            color: #858585;
        }
    }
    [aria-expanded="true"] {
        .caret-indicator:before {
            font-family: FontAwesome;
            content: "\f0d7";
            font-size: 2.2em;
            color: white;
        }
    }
}

.rate-panel-group {
    .rate-panel-heading {
        text-align: center;
        color: white;
        background-color: #001A49;
        border: 2px solid #585858;
        border-radius: 4px;
        margin-top: 10px;
        h3 {
            margin-top: 10px;
        }
    }
    [aria-expanded="false"] {
        .caret-indicator:before {
            font-family: FontAwesome;
            /*fa-caret-right*/
            content: "\f0da";
            font-size: 2.5em;
            margin: 20px 0px 0px 20px;
            color: #858585;
        }
    }
    [aria-expanded="true"] {
        .caret-indicator:before {
            font-family: FontAwesome;
            /*fa-caret-down*/
            content: "\f0d7";
            font-size: 2.5em;
            color: white;
        }
    }
}

.form-subheading {
    background-color: #001A49;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    h3 {
        margin: 8px 0px 8px 8px;
    }
}

.panel-collapse {
    border: 2px solid #585858;
    border-top: 0;
    margin-top: -20px;
    padding-top: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-group {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    .label-error {
        color: red !important;
    }
    label {
        color: #585858;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0.3em 0em;
    }
    .form-control {
        color: black;
        font-weight: normal;
        margin-bottom: 0.5em;
    }
    .help-block {
        font-size: 1em;
        color: red;
    }
}

.reduced-form-label {
    margin-top: -20px;
}

.inline-label {
    margin-top: 2px;
}

.dues-table-heading {
    text-align: center;
    color: #001A49;
    border: 2px solid #585858;
    border-radius: 4px;
    h3 {
        margin: 5px 0px;
    }
}

.dues-label {
    color: #001A49;
    text-align: left;
    margin: 5px 0px;
}

.dues-acres {
    color: #001A49;
    text-align: center;
    margin-bottom: 20px;
}

.table-border {
    border: 1px solid #585858;
    .table-data {
        text-align: center;
    }
}

.search-box {
    background-color: white;
    margin: 30px 30px 10px 30px;
    label {
        font-size: 1.5em;
        font-weight: normal;
        color: #585858;
    }
    input {
        color: black;
        font-weight: normal;
        font-size: 1.4em;
    }
}

.report-table {
    border-collapse: collapse;
    .report-header {
        h5 {
            line-height: 60px;
            height: 60px;
            margin-bottom: 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            .report-wrap-header {
                line-height: 20px;
                height: 60px;
                margin-bottom: 0px;
                border-left: 1px solid black;
            }
        }
    }
    .col-sm-7, .col-sm-10 {
        padding: 0px;
    }

    .report-data {
        padding-top: 10px;
        height: 36px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .right-border {
        border-right: 1px solid black;
    }
}


.error {
    border: 1px solid red;
}

.bg-danger {
    color: #a74545;
    padding: 5px;
}

.btn-link {
    outline: none;
    &:focus, &:active, &:active:focus {
        box-shadow: none;
        outline: none;
    }
}

.rate-table {
    text-align: center;
}

.rate-form-group {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    .form-group {
        color: black;
        font-weight: normal;
        margin-bottom: 0.5em;
        width: 125%;
    }
}